<body class="murid">
<h1 class="font-weight-bold">DAFTAR MURID</h1>

<div class="sright pull-right">
    <%= link_to 'ADD MURID', muridsnew_path, class: 'btn btn-primary', role: 'button' %>
</div>

<%# <div class="container"> %>
<div class="table-responsive-sm">
<table id="murid" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Full_Name</th>
                <th>Sex</th>
                <th>Home_Address</th>
                <th>Phone</th>
                <th>Program_attend</th>
                <th>Date_To Start_Study</th>
                <th>AKSI</th>
                <th>AKSI</th>
                <th>AKSI</th>
            </tr>
        </thead>
        <tbody>
          <% @murids.each do |f| %>
            <tr>
                <td><%= f.nama %></td>
                <td><%= f.jenis_kelamin==1 ? 'Laki-laki' :
                (f.jenis_kelamin==2 ? 'Perempuan' : 'Kosong') %></td>
                <td><%= f.alamat %></td>
                <td><%= f.no_tlp %></td>
                <td><%= f.program %></td>
                <td><%= f.jadwal %></td>
                <td><%= link_to 'show', f, class:'btn btn-primary' %></td>
                <td><%= link_to 'edit', muridsedit_path(f), class:'btn btn-warning' %></td>
                <td><%= link_to 'delete', muridsdelete_path(f), method: :delete, data: { confirm: 'apakah anda yakin ingin menghapus data ini?'}, class:'btn btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
</body>

